resources:
  repositories:
    - repository: "templates"
      type: "githubenterprise"
      name: "codeway/templates"
      ref: "refs/heads/master"
      endpoint: "ghe"

trigger:
  branches:
    include:
    - '*'

pr: none

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'install'
